@model IEnumerable<Kodimax_ASP.Models.Pelicula>

@{
    ViewBag.Title = "Cartelera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cartelera</h2>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Cartelera", "Index", "Home")</li>
                <li>@Html.ActionLink("Tienda de Golosinas", "Index", "Home")</li>
                <li>@Html.ActionLink("Comprar Boletos", "Index", "Home")</li>
                <li>@Html.ActionLink("Comprar Golosinas", "Index", "Home")</li>
                <li><a href="/Home/Index">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-3">
            <img src="#" alt="Alternate Text" />
            <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
            <br />
            <p>Duracion: @Html.DisplayFor(modelItem => item.Duracion)</p>
            <p>Tipo: @Html.DisplayFor(modelItem => item.Tipo)</p>
        </div>
        @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>

        </tr>*@
    }
</div>


