@model IEnumerable<Kodimax_ASP.Models.Golosina>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Modificar Cartelera
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Agregar Pelicula", "AgregarPelicula", "Pelicula")</li>
                        <li>@Html.ActionLink("Eliminar Pelicula", "VerPeliculas", "Pelicula")</li>
                        <li>@Html.ActionLink("Modificar Sala de Exhibicion", "Index", "Sala")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Modificar Tienda de Golosinas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Agregar Golosina", "AgregarGolosina", "Golosina")</li>
                        <li>@Html.ActionLink("Eliminar Golosina", "VerGolosinas", "Golosina")</li>
                        <li>@Html.ActionLink("Modificar Golosinas", "VerGolosinasEd", "Golosina")</li>
                    </ul>
                </li>
                <li><a href="/Home/Index">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>Tienda de Golosinas</h2>


@foreach (var item in Model) {
    <div class="col-sm-12 col-md-3">
        <img width="200" src="@Url.Action("getImage", "Golosina", new { id = item.Id_Golosina })" alt="Alternate Text" />
        <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
        <br />
        <p>Tipo: @Html.DisplayFor(modelItem => item.Tipo)</p>
        <p>Duracion: $@Html.DisplayFor(modelItem => item.Precio)</p>

    </div>
}

