@model IEnumerable<Kodimax_ASP.Models.Golosina>

@{
    ViewBag.Title = "VerGolosinasEd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Modificar Cartelera
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Agregar Pelicula", "AgregarPelicula", "Pelicula")</li>
                        <li>@Html.ActionLink("Eliminar Pelicula", "VerPeliculas", "Pelicula")</li>
                        <li>@Html.ActionLink("Modificar Sala de Exhibicion", "Index", "Sala")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Modificar Tienda de Golosinas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Agregar Golosina", "AgregarGolosina", "Golosina")</li>
                        <li>@Html.ActionLink("Eliminar Golosina", "VerGolosinas", "Golosina")</li>
                        <li>@Html.ActionLink("Modificar Golosinas", "VerGolosinasEd", "Golosina")</li>
                    </ul>
                </li>
                <li><a href="/Home/Index">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</div>

@*
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Empleados", "Index", "Empleado")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Modificar Cartelera
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Agregar Pelicula", "AgregarPelicula", "Pelicula")</li>
                            <li>@Html.ActionLink("Eliminar Pelicula", "VerPelicula", "Pelicula")</li>
                            <li>@Html.ActionLink("Modificar Sala de Exhibicion", "Index", "Sala")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Modificar Tienda de Golosinas
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Agregar Golosina", "AgregarGolosina", "Golosina")</li>
                            <li>@Html.ActionLink("Eliminar Golosina", "VerGolosinas", "Golosina")</li>
                            <li>@Html.ActionLink("Modificar Golosinas", "VerGolosinasEd", "Golosina")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Reportes", "Index", "Home")</li>
                    <li><a href="/Home/Index">Cerrar sesion</a></li>
                </ul>
            </div>
        </div>
    </div>
*@

<h2>Golosinas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <img width="75" src="@Url.Action("getImage", "Golosina", new { id = item.Id_Golosina })" alt="Alternate Text" />
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarGolosina", new { id = item.Id_Golosina })
            </td>
        </tr>
    }

</table>
