@model IEnumerable<Kodimax_ASP.Models.Pelicula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Cartelera", "Index", "Pelicula")</li>
                <li>@Html.ActionLink("Tienda de Golosinas", "Index", "Golosina")</li>
                <li>@Html.ActionLink("Comprar Boletos", "AgregarTicketPelicula", "TicketPelicula")</li>
                <li>@Html.ActionLink("Comprar Golosinas", "AgregarTicketGolosina", "TicketGolosina")</li>
                <li><a href="/Home/Index">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>Cartelera</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <img width="200" src="@Url.Action("getImage", "Pelicula", new { id = item.Id_Pelicula })" alt="Alternate Text" />
            <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
            <br />
            <p>Duracion: @Html.DisplayFor(modelItem => item.Duracion)</p>
            <p>Tipo: @Html.DisplayFor(modelItem => item.Tipo)</p>
        </div>
    }
</div>