@model IEnumerable<Kodimax_ASP.Models.Pelicula>

@{
    ViewBag.Title = "VerPeliculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Modificar Cartelera
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Agregar Pelicula", "AgregarPelicula", "Pelicula")</li>
                        <li>@Html.ActionLink("Eliminar Pelicula", "VerPeliculas", "Pelicula")</li>
                        <li>@Html.ActionLink("Modificar Sala de Exhibicion", "Index", "Sala")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Modificar Tienda de Golosinas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Agregar Golosina", "AgregarGolosina", "Golosina")</li>
                        <li>@Html.ActionLink("Eliminar Golosina", "VerGolosinas", "Golosina")</li>
                        <li>@Html.ActionLink("Modificar Golosinas", "VerGolosinasEd", "Golosina")</li>
                    </ul>
                </li>
                <li><a href="/Home/Index">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</div>


<h2>Peliculas</h2><br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <img width="50" src="@Url.Action("getImage", "Pelicula", new { id = item.Id_Pelicula })" alt="Alternate Text" />
            </td>
            <td>
                <button type="button" class="btn btn-danger">@Html.ActionLink("Eliminar", "EliminarPelicula", new { id = item.Id_Pelicula }, new { @class = "aElimina" })</button>
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm("Estas seguro de eliminar? ")) {
                event.preventDefault();
            }
        });
    </script>
}
