@model IEnumerable<Kodimax_ASP.Models.Sala>

@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Empleados", "Index", "Empleado")</li>
                <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Modificar Cartelera
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Agregar Pelicula", "AgregarPeliculaAdmin", "Pelicula")</li>
                        <li>@Html.ActionLink("Eliminar Pelicula", "VerPeliculasAdmin", "Pelicula")</li>
                        <li>@Html.ActionLink("Modificar Sala de Exhibicion", "IndexAdmin", "Sala")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Modificar Tienda de Golosinas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Agregar Golosina", "AgregarGolosinaAdmin", "Golosina")</li>
                        <li>@Html.ActionLink("Eliminar Golosina", "VerGolosinasAdmin", "Golosina")</li>
                        <li>@Html.ActionLink("Modificar Golosinas", "VerGolosinasEdAdmin", "Golosina")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Reportes", "Reportes", "Administrador")</li>
                <li><a href="/Home/Index">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>Salas</h2>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asientos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asientos)
            </td>
            <td>
                <button type="button" class="btn btn-info">@Html.ActionLink("Editar", "EditarSalaAdmin", new { id = item.Id_Sala }, new { @class = "boton" })</button>
            </td>
        </tr>
    }

</table>

